## Type-01

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
dummies = pd.get_dummies(df.species)
dummies.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [4]:
df_dummies = pd.concat([df, dummies],axis='columns')

In [5]:
df_dummies.head()

,sepal_length,sepal_width,petal_length,petal_width,species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

In [6]:
df_dummies.drop('species', axis='columns',inplace=True)
df_dummies.head()

,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [34]:
X1 = df_dummies
X1.head()

,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [35]:
y1 = df.species
y1.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [9]:
from sklearn.model_selection import train_test_split

In [36]:
X1_train, X1_test,y1_train,y1_test = train_test_split(X1,y1,test_size=0.2)

In [37]:
len(X1_train)

120

In [38]:
X1_test.head().values

array([[7.1, 3. , 5.9, 2.1, 0. , 0. , 1. ],
       [4.9, 2.5, 4.5, 1.7, 0. , 0. , 1. ],
       [4.6, 3.1, 1.5, 0.2, 1. , 0. , 0. ],
       [5.2, 4.1, 1.5, 0.1, 1. , 0. , 0. ],
       [7.2, 3. , 5.8, 1.6, 0. , 0. , 1. ]])

In [44]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()

In [45]:
model1.fit(X1_train,y1_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
model1.score(X1_test,y1_test)

1.0

In [47]:
model1.predict(X1_test)

array(['virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'setosa', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'virginica'],
      dtype=object)

In [48]:
model1.predict([[5.5, 2.6, 4.4, 1.2, 1. , 0. , 0.]])

array(['versicolor'], dtype=object)

## Type-02

In [18]:
df2 = pd.read_csv('iris.csv')

In [19]:
df2.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
X = df2.drop('species',axis='columns')
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [21]:
y = df2.species
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [22]:
y = pd.factorize(df.species)[0]
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int32)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [53]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [54]:
model.fit(X_train,y_train)

c:\users\admin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
model.score(X_test, y_test)

1.0

In [56]:
model.predict(X_test)

array([0, 2, 1, 1, 1, 1, 1, 1, 0, 2, 1, 0, 2, 2, 1, 2, 0, 2, 1, 2, 1, 1,
       2, 1, 1, 0, 2, 0, 0, 0], dtype=int32)

In [57]:
model.predict([[4.3,2.4,0.6, 1.0]])

array([0], dtype=int32)

In [58]:
model.predict_proba(X_test)[0:5]

array([[9.55658876e-01, 4.43408592e-02, 2.64922770e-07],
       [1.26211989e-03, 4.05948967e-01, 5.92788913e-01],
       [3.63924320e-03, 7.49980618e-01, 2.46380138e-01],
       [3.00874363e-03, 7.62916131e-01, 2.34075125e-01],
       [3.70162766e-03, 8.50819236e-01, 1.45479137e-01]])

In [59]:
model.predict_log_proba(X_test)[0:5]

array([[ -0.04535425,  -3.1158487 , -15.14382749],
       [ -6.67496252,  -0.90152783,  -0.52291691],
       [ -5.61597953,  -0.28770791,  -1.40087966],
       [ -5.80623269,  -0.27060717,  -1.45211317],
       [ -5.59898265,  -0.16155559,  -1.92772259]])

In [60]:
model.predict([[5.5, 2.6, 4.4, 1.2]])

array([1], dtype=int32)